<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#ffffff" style="padding: 10px 0px 0px 0px">
                        <a href="https://academic.oup.com/abt">
                            <!----------------------------------------------------------------------------------
                             header image source. If image is hosted on github repo, add `?raw=True` after url
                            ----------------------------------------------------------------------------------->
                            <img src="https://res.cloudinary.com/dwawcx2hl/image/upload/v1589410052/Headers/new_article_alert_header_iyr9ub.png" alt="Logo" width=100%>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 30px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: black; font-family: Verdana, sans-serif; padding: 6px 0px 6px 0px " align="center" bgcolor=#E5E7E9>
                                    <!-----------------------------------------------------------------
                                                            Date
                                    ----------------------------------------------------------------->
                                    <b id="date">XXXXXX</b>
                                </td>
                            </tr>
                            <tr>
                                <td id="title" style="color: #43729F; font-family: Verdana, sans-serif; font-size: 26px; padding: 30px 10px 30px 10px ">
                                    <!-----------------------------------------------------------------
                                                             Title
                                    ----------------------------------------------------------------->
                                    XXXXXX
                                </td>
                            </tr>
                            <tr>
                                <td style="color:white; font-family: Verdana, sans-serif; font-size: 20px;padding: 10px 15px 10px 15px" bgcolor="43729f">
                                    Editor's Note
                                </td>
                            </tr>
                            <tr>
                                <td id="editor_notes" style="color:#5c5c5c; font-family: Geneva, sans-serif; font-size: 16px;padding: 30px 15px 30px 15px" bgcolor="d4f5ff">
                                    <!-----------------------------------------------------------------
                                                           Editor Notes
                                     ----------------------------------------------------------------->
                                    XXXXXX
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 30px 10px 2px 10px " align="center">
                                    <!----------------------------------------------------------------------------------------------------------------
                                    Article Image (Depending on actual image, it might require slight adjustment of width/height to prevent distortion
                                    ------------------------------------------------------------------------------------------------------------------>
                                    <img src="https://res.cloudinary.com/dwawcx2hl/image/upload/v1590424613/Newsletter/5-25-20_l2rfzd.png" alt="article" width="100%" style="display: block;" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 0px 20px 0px; color: #5c5c5c; font-family: Geneva, sans-serif; font-size: 16px;" align="center">
                                    <hr width="640">
                                    <!-----------------------------------------------------------------
                                                           Figure Caption
                                     ----------------------------------------------------------------->
                                    <p id="figure_caption">XXXXXX</p>
                                    <!-----------------------------------------------------------------
                                                           Url to Article
                                    ----------------------------------------------------------------->
                                    <p><a id="url" href="XXXXXX">Free access to full article</a></p>
                                </td>
                            </tr>

                            <tr>
                                <td id="main_text" style="padding: 10px 0 30px 0; color: #5c5c5c; font-family: Geneva, sans-serif; font-size: 16px; line-height: 20px;">
                                    <!-----------------------------------------------------------------------------------------------------------------
                                     Main text. Reminder on tags used for formatting:
                                     - Break down into paragraphs using <p>.
                                     - Bold <b>, Italic <i>,
                                     - Subscript <sub>, Superscript <sup>
                                     - Registered trademark:  &reg
                                     - Copyright mark: &copy
                                    ------------------------------------------------------------------------------------------------------------------->
                                    XXXXXX
                                </td>
                            </tr>

                            <tr>
                                <!------------------------------------------------------------------------------------------------------------------------
                                Title for the additional notes section.
                                -------------------------------------------------------------------------------------------------------------------------->
                                <td id="add_notes_title" style="color:white; font-family: Verdana, sans-serif; font-size: 20px;padding: 10px 15px 10px 15px" bgcolor="43729f">
                                    XXXXXX
                                </td>
                            </tr>
                            <tr>
                                <td id="add_notes_text" style="color:#5c5c5c; font-family: Geneva, sans-serif; font-size: 16px;padding: 20px 15px 20px 15px" bgcolor="d4f5ff">
                                    <!-----------------------------------------------------------------------------------------------------------------
                                    Additional Notes Section. A couple is fine but avoid having too many sections like this. Try to be as concise as possible
                                    ------------------------------------------------------------------------------------------------------------------->
                                    XXXXXX
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr>  <!--Horizontal Line Divider. Don't remove-->
                    </td>
                </tr>
                <tr>
                    <td bgcolor=white style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #43729f; font-family: Verdana, sans-serif; font-size: 14px;" width="75%">
                                    <p>&copy Chinese Antibody Society 2020. </p>
                                    <p>Follow us on Wechat: <b>chinese_antibody</b> or <a href="https://chineseantibody.org/">visit website</a></p>
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;">
                                                <img src="https://res.cloudinary.com/dwawcx2hl/image/upload/v1589466031/Logo/wechat_m1vetn.png" alt="Wechat" width="38" height="38" style="display: block;" border="0" />
                                            </td>

                                            <!--spacer between logos-->
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>

                                            <td style="font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="https://twitter.com/ChineseAntibody" style="color: #ffffff;">
                                                    <img src="https://res.cloudinary.com/dwawcx2hl/image/upload/v1589466031/Logo/twitter_pooabc.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>

                                            <!--spacer between logos-->
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>

                                            <td style="font-family: Verdana, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="https://www.linkedin.com/company/chineseantibodysociety/" style="color: #ffffff;">
                                                    <img src="https://res.cloudinary.com/dwawcx2hl/image/upload/v1589466031/Logo/linkedin_wtjojb.png" alt="Linkedin" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>